.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://png.pngtree.com/background/20220729/original/pngtree-thunder-storm-lightning-rainy-weather-city-building-skyline-cityscape-illustration-picture-image_1873146.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}